<div class="home-root">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card card-outline-primary filtros" >
			  	<div class="card-header card-primary card-sisgeob-header">Semaforo de Servicios: <input type="text" class="filtro_txt" #filtro_txt (change)="filtrar_servicio(filtro_txt.value)" /></div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th><b>Servicio</b></th>
							<th><b>Total Inversión</b></th>
							<th><b>Numero de Obras</b></th>
							<th><b>Alertas</b></th>
							<th><b>Semaforo</b></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let servicio of s_filtro" (click)="filter_by_service(servicio.NOMBRE)">
							<td>{{ servicio.NOMBRE }}</td>
							<td>{{ servicio.OBRAS | TOTAL }}</td>
							<td>{{ servicio.OBRAS ? servicio.OBRAS.length : 0 }}</td>
							<td>{{ servicio.ALERTAS ? servicio.ALERTAS.length : 0 }}</td>
							<td class="semaforo">
								<span [class.rojo]="servicio.ALERTAS.length > 5" ><i class="fa fa-circle" aria-hidden="true"></i></span>
								<span [class.amarillo]="servicio.ALERTAS.length < 5 && servicio.ALERTAS.length > 0"><i class="fa fa-circle" aria-hidden="true"></i></span>
								<span [class.verde]="servicio.ALERTAS.length == 0"><i class="fa fa-circle" aria-hidden="true"></i></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>