.container-body{
	display:flex;
	height:100%;
	width:100%;
	.main-container{
		display: flex;
		width:100%;
	}
}
:host{
	min-height:calc(100% - 60px);
	width:100%;
}
.navbar-container{
	display: flex;
	height: 60px;
}
.main-container{
	margin:0 0 0 0;
	padding:0 0 0 0;
}